<h1>Сделать заказ</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form id='form' action="{% url 'order_created' %}" method="post">
    {% csrf_token %}
    <label for=""> Заголовок:
        <input name='title' type="text">
    </label>
    <label for="">Текст:
        <textarea name="text" id="" cols="30" rows="10"></textarea>
    </label>
    <label for="">Цена:
        <input name='price' min='1' type="number">
    </label>
    <input id='button' type="submit" value="Создать">
</form>
<script>
    //const form = document.querySelector('#form')
    const button = document.querySelector('#button')
    button.addEventListener('click', event => {
        event.preventDefault()
        send()
    })
    async function send() {
        const data = new FormData(form)
        console.log(data)
        let response = await fetch("{% url 'order_created' %}", {
            method: 'POST',
            body: data
        }).then(result => {
            console.log(result)
            result.text().then(result => {alert(result)})
        },
        error => {
            alert('Что-то пошло не так. Пожалуйста, перезапустите сервер и попробуйте снова. При повторной неудаче ищите проблему в базе данных.')
        });
}
</script>