<h2 class='page-title'>Заказы</h2>
<section class='orders'>
{% for order in orders %}
    <div class='order-box'>
        <h3 class='order-title'>{{order.title}}</h3>
        {% if order.is_closed is True%}
        <p class="order-status">Заказ закрыт</p>
        {% endif %}
        <p class="order-date">Размещен {{order.create_date}}</p>
        <p class="order-category">Категория: {{order.category}}</p>
        <a href="{% url 'single_order' order.id %}" class="order-link">Подробнее</a>
        <p class="order-price">Оплата: {{order.price}}</p>
    </div>
{% endfor %}
</section>