<h2 class='page-title'>{{order.title}}</h2>
<div class='order-box'>
    {% if order.is_closed is True%}
    <p class="order-status">Заказ закрыт</p>
    {% endif %}
    <p class="order-date">Размещен {{order.create_date}}</p>
    <p class="order-category">Категория: {{order.category}}</p>
    <p class="order-text">{{order.text}}</p>
    <p class="order-price">Оплата: {{order.price}}</p>
</div>